.venv/
.vscode/
.git/
Python/
Dump/
*.vsix
build-themes.js
syntax-colors.json
syntax.md
syntax copy.mq5
install_theme.ps1
example.mq5
more.md
mores.md
moress.md
220BOFx_v5.mq5
mql5_capslock_syntax.md
mql5.md
mql5.pdf
WARNING.md
add.md
extracted_inp.md
